# Lombok configuration for copying annotations to constructor parameters
# This allows @Qualifier annotations on fields to be copied to constructor parameters
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value

